.App {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.form {
  padding: 10px;
  width: 90%;
  margin-left: 5px;
}

/* .img-header {
  clip-path: polygon(100% 0, 100% 79%, 50% 100%, 0 79%, 0% 0%);
  z-index: -1;
} */

input {
  width: 97%;
  padding: 10px;
  margin: 5px;
  border: 2px solid #707070;
  border-radius: 10px;
}

select {
  margin: 5px;
  background-color: #FFF;
  width: 157px;
  height: 39px;
  border: 2px solid #707070;
  border-radius: 10px;
}

.inline-text {
  display: block;
}

.div-block-right {
  display: inline-block;
  float: right;
}

.div-block-left {
  display: inline-block;
  float: left;
}

.button-div {
  float: right;
}

.search-button {
  background-color: #FA001D;
  color: #FFF;
  width: 100%;
  height: 30px;
  border: 2px solid #D53D4E;
  border-radius: 10px; 
  text-transform: uppercase;
  margin: 5px;
}

.learn-button {
  background-color: #FA001D;
  color: #FFF;
  width: 30%;
  height: 30px;
  border: 2px solid #D53D4E;
  border-radius: 10px; 
  text-transform: uppercase;
  margin: 5px;
}

.input-date {
  width: 84%;
  background-color: #FFF;
}

.input-age {
  width: 79%;
}

.results {
  margin: 7px;
}

.result-detail-box {
  width: 383px;
  height: auto;
  border: 2px solid #707070;
  border-radius: 10px;
  margin: 5px;
  padding: 7px;
}

.result-img {
  padding: 5px;
  width: 378px;
  height: 240px;
}

h2, h3 {
  margin: 0px;
}